<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525737623263-6a1k6gsdups6bvlgv1d393pimosceqbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525737623263-6a1k6gsdups6bvlgv1d393pimosceqbq</string>
	<key>API_KEY</key>
	<string>AIzaSyDluIzLE_hjyo_Cq8h3BZ7SzfJ702IVpx0</string>
	<key>GCM_SENDER_ID</key>
	<string>525737623263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.superclean</string>
	<key>PROJECT_ID</key>
	<string>bb-clean-c2dad</string>
	<key>STORAGE_BUCKET</key>
	<string>bb-clean-c2dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525737623263:ios:6df9747c48dd019775336a</string>
</dict>
</plist>